.service {
    &-list {
        margin-bottom: 65px;
        h2 {
            text-align: center;
            color: $secondary;
            padding-bottom: 20px;
            border-bottom: 5px solid $secondary;
            margin-bottom: 0;
            font-weight: 700;
        }
        &_item {
            padding-top: 40px;
            padding-bottom: 60px;
            border-bottom: 1px solid $black;
            position: relative;
            &::before, &::after {
                position: absolute;
                content: "";
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $black;
                bottom: 0;
                transform: translateY(50%);
            }
            &::before {
                left: -5px;
            }
            &::after {
                right: -5px;
            }
            &:last-child {
                border: 0;
                &::before, &::after {
                    display: none;
                }
            }
        }
        &_title {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 20px;
            border-radius: 10px;
            background-color: $third;
            margin-bottom: 35px;
            img {
                width: 42px;
            }
            h3 {
                margin: 0;
                font-size: 28px;
                font-weight: 700;
                color: #0B0B0B;
            }
        }
        &_content {
            display: flex;
            align-items: center;
        }
        &_pic {
            width: 40%;
            padding-bottom: calc(40% * 0.68);
            position: relative;
            >img {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            width: 60%;
            padding-left: 20px;
            ul {
                li {
                    padding-left: 40px;
                    position: relative;
                    font-size: 24px;
                    margin-bottom: 15px;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 35px;
                        height: 35px;
                        background-image: url(../img/check-circle-fill.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        &_strength {
            padding: 10px;
            background-color: #FFD37B;
            font-size: 24px;
            color: $gray-1B;
            h4 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
        @media screen and (max-width: 991px) {
            &_content {
                display: block;
            }
            &_pic {
                width: 100%;
                padding-bottom: 68%;
                margin-bottom: 15px;
            }
            &_text {
                width: 100%;
                padding: 0;
            }
        }
        @media screen and (max-width: 575px) {
            margin-bottom: 32px;
            h2 {
                padding-bottom: 10px;
                border-width: 2px;
                font-size: 18px;
            }
            &_item {
                padding-top: 16px;
                padding-bottom: 16px;
            }
            &_title {
                gap: 6px;
                padding: 10px;
                border-radius: 6px;
                margin-bottom: 12px;
                img {
                    width: 34px;
                }
                h3 {
                    font-size: 16px;
                }
            }
            &_pic {
                margin-bottom: 16px;
            }
            &_text {
                ul {
                    li {
                        padding-left: 30px;
                        font-size: 18px;
                        margin-bottom: 10px;
                        &::before {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
            &_strength {
                font-size: 16px;
                h4 {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    &-why {
        padding-bottom: 145px;
        h2 {
            margin-bottom: 55px;
            text-align: center;
            color: $gray-1B;
            font-size: 32px;
            font-weight: 700;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
            >div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &_item {
            p {
                text-align: center;
                font-size: 24px;
                color: $black;
            }
            &.color {
                &-red {
                    .service-why_circle {
                        svg {
                            path {
                                fill: $red;
                            }
                        }
                        h3 {
                            color: $red;
                        }
                        &::before {
                            background-image: url(../img/half-circle-red.svg);
                        }
                    }  
                }
                &-orange {
                    .service-why_circle {
                        svg {
                            path {
                                fill: $orange;
                            }
                        }
                        h3 {
                            color: $orange;
                        }
                        &::before {
                            background-image: url(../img/half-circle-orange.svg);
                        }
                    }  
                }
                &-blue {
                    .service-why_circle {
                        svg {
                            path {
                                fill: $blue;
                            }
                        }
                        h3 {
                            color: $blue;
                        }
                        &::before {
                            background-image: url(../img/half-circle-blue.svg);
                        }
                    }  
                }
                &-green {
                    .service-why_circle {
                        svg {
                            path {
                                fill: $green;
                            }
                        }
                        h3 {
                            color: $green;
                        }
                        &::before {
                            background-image: url(../img/half-circle-green.svg);
                        }
                    }  
                }
            }
        }
        &_circle {
            width: 215px;
            height: 215px;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 14px 26px rgba(0,0,0,0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto 25px;
            gap: 16px;
            position: relative;
            svg {
                width: 63px;
                height: 63px;
            }
            h3 {
                font-size: 28px;
                font-weight: 700;
                margin: 0;
                text-align: center;
                height: 67px;
            }
            &::before {
                position: absolute;
                content: "";
                width: calc(100% + 96px);
                height: calc((100% + 96px) / 2);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                top: -35px;
                left: -48px;
            }
        }
        @media screen and (max-width: 991px) {
            &_item {
                margin-bottom: 100px;
            }
        }
        @media screen and (max-width: 575px) {
            padding-bottom: 0;
            h2 {
                margin-bottom: 60px;
                font-size: 24px;
            }
            &_item {
                margin-bottom: 60px;
                p {
                    font-size: 20px;
                }
            }
            .row {
                >div {
                    &:last-child {
                        .service-why_item {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            &_circle {
                width: 152px;
                height: 152px;
                margin: 0 auto 16px;
                gap: 12px;
                svg {
                    width: 45px;
                    height: 45px;
                }
                h3 {
                    font-size: 20px;
                    height: auto;
                }
                &::before {
                    width: calc(100% + 68px);
                    height: calc((100% + 68px) / 2);
                    top: -25px;
                    left: -34px;
                }
            }
        }
    }
    &-more {
        text-align: center;
        padding-bottom: 150px;
        h2 {
            font-size: 48px;
            font-weight: 700;
            color: #141414;
            margin-bottom: 45px;
        }
        .btn {
            margin: 0 auto;
            padding: 10px 40px;
            font-size: 24px;
        }
        .service-arrow {
            margin: 0 auto 25px;
            width: 55px;
            height: 55px;
            padding: 0;
            &__inner {
                border-width: 8px !important;
            }
        }
        @media screen and (max-width: 575px) {
            padding-bottom: 50px;
            h2 {
                font-size: 24px;
                margin-bottom: 18px;
            }
            .btn {
                padding: 10px 35px;
                font-size: 20px;
            }
        }
    }
    &-arrow {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: $white;
        padding: 10px;
        &_inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 8px solid #E8E8E8;
            background-color: $white;
            border-radius: 50%;
            img {
                width: 38px;
            }
        }
        @media screen and (max-width: 991px) {
            padding: 5px;
            &_inner {
                border-width: 4px;
                img {
                    width: 19px;
                }
            }
        }
    }
}